{
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 100,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false,
    "tailwindConfig": "./tailwind.config.cjs",
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
